/* App.css */

/* Default styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

/* New styles for outlined cards with four columns of data */

.team-card {
  width: calc(25% - 20px); /* Adjust the width as needed */
  margin: 10px; /* Adjust margin for spacing between cards */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-card h2 {
  margin-bottom: 0;
}

.team-card h3 {
  margin-top: 0.5rem;
  color: #666;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Align cards in four columns */
}
